* {
  box-sizing: border-box;
}

#body {
  margin: none;
}

/*header*/

.header {
  background-color: white;
  display: inline-block;
}

.header a {
  color: black;
  font-size: large; 
  padding: 5px;
}

.right{
  margin-left:90%;
}

.header i {
  vertical-align: middle;
}

.header img {
  vertical-align: middle;
  width: 130px;
  height: auto;
  padding: 10px;
  margin-left: 10px;
}

/*topnav*/

.topnav {
  background-color: black;
  overflow: hidden;
  align-items: center;
}

.topnav a {
  padding: 40px;
  color: white;
  text-decoration: none;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  left: 0;
}

.topnav-left a {
  float: left;
}

.topnav-right a{
  float: right;
}

.topnav a:hover {
  text-decoration: underline;
  background-color: #1a1818;
  transition-duration: 0.5ms ease;
}

.topnav.act {
  text-decoration: underline;
}
/*Topnav dropdown*/
.dropdown {
  overflow: hidden;
  float: left;
}

.dropdown .dropbtn {
  background-color: black;
  font-size: x-large;  
  border: none;
  color: white;
  padding: 40px;
}

.dropbtn:hover {
  background-color: #1a1818;
  text-decoration: underline;
}

.dropdown .dropdown-cont {
  display: none;
  position: relative;
  background-color: black;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
}

.dropdown:hover .dropdown-cont {
  display: block;
}

.dropdown .dropcol {
  float: left;
  width: 25%;
  padding: 16px;
  background-color: black;
  height: 250px;
}

.dropdown .dropcol a {
  float: none;
  color: white;
  padding: 30px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: black;
}

.dropcol a:hover {
  background-color: #1a1818;
  text-decoration: underline;
  transition-duration: 0.5ms ease;
}

.droprow::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .dropcol {
    width: 100%;
    height: auto;
  }
}


/*Animált szendvics*/

.sandwitch{
  display: none;
}

@media screen and (max-width: 600px){
  .sandwitch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    background-color: black;
  }
  .sandwitch:hover {
    background-color: #1a1818;
  }
  
  .bar1, .bar2, .bar3 {
    border: black 0.1px solid;
    border-radius: 1px;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
}

/*Footer*/
.footer {
  padding-top: 30px;
  padding: 20px;
  text-align: left;
  background-color: black;
  font-size: 100%;
  color: white;
  top: 100%;
  bottom: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.f-ul {
  list-style: none;
}

.f-ul a:hover {
  text-decoration: underline;
}

.footer-title {
  margin-left: 30px;
  font-size: x-large;
  color: white;
  font-variant: small-caps;
}

.f-ikon {
  width: 40px;
  height: auto;
  border-radius: 60%;
  margin: 5px;
  text-decoration: none;
}

.f-form {
  margin-left: 30px;
  text-align: left;

}


/* Slideshow */
.S {
  display: none;
}

.Spic {
  vertical-align: middle;
  width: 2000px;
  height: auto;
  left: 0;
}

.slideshow {
  border-radius: 20px;
  max-width: 2000px;
  position: relative;
  margin: auto;
}

.next,
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: xx-large;
  transition: 0.3s ease;
  user-select: none;
  border-radius: 50px;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 50px;
}

.next:hover,
.prev:hover {
  background-color: #443d3d;
  color: white;
}

.dind {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.dind:hover {
  background-color: rgb(71, 66, 66);
}

.activus {
  background-color: rgb(71, 66, 66);
}

.subt {
  margin-top: 20px;
  text-align: center;
  color: black;
  position: relative;
  font-size: xx-large;
}

#topgin {
  margin-top: 10%;
}


/*Carousel*/
/*
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .previ {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .nexti {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
*/